@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: black;
  letter-spacing: 0.03em;
  width: 1200px;
  margin: auto;
}

.maincontainer {
  width: 1200px;
  justify-content: center;
  align-items: center;
}

.navheader {
  background-color: #ececec;
}
.firstword {
  color: #2196f3;
}
.secondword {
  color: #2196f3;
}
.thirdword {
  color: #2196f3;
}
.mainlogo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: bold;
}

.navigation,
.contactus {
  font-size: 14px;
  letter-spacing: 0.03em;
}
.contact {
  color: black;
}

.contactus {
  color: white;
}
.contactus:hover {
  color: #2196f3;
}
.contactus:focus {
  color: #2196f3;
}

.front {
  font-size: 44px;
  color: white;
  letter-spacing: 0, 06em;
}
.buttonsentence {
  background-color: #2f303a;
  height: 600px;
  text-align: center;
}

.aboutus,
.ourworkers {
  font-size: 36px;
}

.titleprofile {
  text-transform: uppercase;
  font-weight: 14px;
}

.profilecontent {
  color: #757575;
  font-size: 14px;
}

.mainbutton {
  color: #f5f4fa;
  background-color: #2196f3;
  border: var(--border);
  cursor: pointer;
  width: 200px;
  height: 50px;
}
.mainbutton:hover {
  color: #2196f3;
  background-color: #f5f4fa;
  border: var(--border);
  cursor: pointer;
}
.mainbutton:focus {
  color: #2196f3;
  background-color: #f5f4fa;
  border: var(--border);
  cursor: pointer;
}

button {
  color: black;
  background-color: #f5f4fa;
  border: var(--border);
  cursor: pointer;
  width: 93px;
  height: 38px;
}
button:hover {
  color: white;
  background-color: #2196f3;
  cursor: pointer;
}
button:focus {
  color: white;
  background-color: #2196f3;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
  border: var(--border);
  font-style: normal;
}
a:hover {
  color: #2196f3;
  text-decoration: none;
}
a:focus {
  color: #2196f3;
  text-decoration: none;
}

.workers {
  background-color: #f5f4fa;
}
.firstname {
  font-weight: Medium;
  color: black;
  text-decoration: none;
}
.profession {
  color: #757575;
}

.keyword {
  font-size: 18px;
  font-weight: Bold;
  color: black;
  text-decoration: none;
}

.keywordcontent {
  color: #757575;
  letter-spacing: 0.06em;
}

.footerinformations {
  background-color: #2f303a;
  height: 252px;
}

.street {
  color: #ffffff;
  font-size: 14px;
  width: 252px;
}
.ourprofile {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: auto;
}
